In [ ]:
Se importa el archivo csv:

In [4]:
import pandas as pd

df = pd.read_csv("worldcup2014.csv")
df.head(10)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1

In [124]:
# se calculan la cantidad de puestos por continentes y paises
ContinentesUnicos = len(df["continent"].unique())
PaisesUnicos = len(df["team"].unique())
print(f"Son: {ContinentesUnicos} continentes y {PaisesUnicos} paises unicos en total")

#Contar cuantas los paises que son pertenecientes a cada contimnente
PPC = df["continent"].value_counts()
df_ppc = PPC.reset_index()
df_ppc.columns = ['continent', 'paises']
df_ppc

Son: 5 continentes y 32 paises unicos en total

      continent  paises
0        europe      13
1  southamerica       6
2        africa       5
3  northamerica       4
4          asia       4

In [126]:
#probabilidad de elegir un pais
p_pais = 1/32
print(f"probabilidad de elegir un pais = {p_pais}")
p_cont = 1/5
print(f"probabilidad de elegir un continente = {p_cont}")
p_europa = 13/32
p_suramerica = 6/32
p_africa = 5/32
p_norteamerica = 4/32
p_asia = 4/32

data = {
    'continent': ['europe', 'southamerica', 'africa', 'northamerica', 'asia'],
    'probabilidad': [13/32, 6/32, 5/32, 4/32, 4/32]
}

ProbSerDeUnPais = pd.DataFrame(data)
ProbSerDeUnPais


#print(f"probabilidad de que sea europa = {p_europa}\nprobabilidad de que sea suramerica = {p_suramerica}\nprobabilidad de que sea africa = {p_africa}\nprobabilidad de que sea norteamerica = {p_norteamerica}\nprobabilidad de que sea asia = {p_asia}")

probabilidad de elegir un pais = 0.03125
probabilidad de elegir un continente = 0.2

      continent  probabilidad
0        europe       0.40625
1  southamerica       0.18750
2        africa       0.15625
3  northamerica       0.12500
4          asia       0.12500

a. pertenecer a África

In [127]:
SeaAfrica = p_pais + p_africa - (p_africa * p_pais)
SeaAfrica

0.1826171875

b. pertenecer a Asia

In [15]:
SeaAsia = p_pais + p_asia - (p_asia * p_pais)
SeaAsia

0.15234375

c. pertenecer a Europa

In [16]:
SeaEuropa = p_pais + p_europa - (p_europa * p_pais)
SeaEuropa

0.4248046875

d. pertenecer a Norteamérica

In [17]:
SeaNorteamerica = p_pais + p_norteamerica - (p_norteamerica * p_pais)
SeaNorteamerica

0.15234375

e. pertenecer a Sudamérica

In [18]:
SeaSudamerica = p_pais + p_suramerica - (p_suramerica * p_pais)
SeaSudamerica

0.212890625

f. clasificar a segunda ronda

In [22]:
#se suma quienes pasaron
TeamsSegunda = df["clasificado"].sum()
p_SegundaRonda = TeamsSegunda / PaisesUnicos
print(f"Probabilidad de pasar a la segunda ronda = {p_SegundaRonda}")

Probabilidad de pasar a la segunda ronda = 0.5

g. ganar al menos un partido

In [ ]:
df["Proba_Ganar"] = df["juegos_ganados"] / df["cantidad_juegos"]
df[['continent', 'team', "Proba_Ganar", "juegos_ganados", "cantidad_juegos"]]

,continent,team,Proba_Ganar,juegos_ganados,cantidad_juegos
0,southamerica,Brazil,0.666667,2,3
1,northamerica,Mexico,0.666667,2,3
2,europe,Croatia,0.333333,1,3
3,africa,Cameroon,0.000000,0,3
4,europe,Netherlands,1.000000,3,3
5,southamerica,Chile,0.666667,2,3
6,europe,Spain,0.333333,1,3
7,asia,Australia,0.000000,0,3
8,southamerica,Colombia,1.000000,3,3
9,europe,Greece,0.333333,1,3
10,africa,Ivory Coast,0.333333,1,3
11,asia,Japan,0.000000,0,3
12,northamerica,Costa Rica,0.666667,2,3
13,southamerica,Uruguay,0.666667,2,3
14,europe,Italy,0.333333,1,3
15,europe,England,0.000000,0,3
16,europe,France,0.666667,2,3
17,europe,Switzerland,0.666667,2,3
18,southamerica,Ecuador,0.333333,1,3
19,northamerica,Honduras,0.000000,0,3
20,southamerica,Argentina,1.000000,3,3
21,africa,Nigeria,0.333333,1,3
22,europe,Bosnia and Herzegovina,0.333333,1,3
23,asia,Iran,0.000000,0,3
24,europe,Germany,0.666667,2,3
25,northamerica,United States,0.333333,1,3
26,europe,Portugal,0.333333,1,3
27,africa,Ghana,0.000000,0,3
28,europe,Belgium,1.000000,3,3
29,africa,Algeria,0.333333,1,3
30,europe,Russia,0.000000,0,3
31,asia,South Korea,0.000000,0,3

h. pertenecer a África y clasificar a segunda ronda
i. pertenecer a Europa y clasificar a segunda ronda
j. pertenecer a Asia y clasificar a segunda ronda
k. pertenecer a Sudamérica y clasificar a segunda ronda
l. pertenecer a Norteamérica y clasificar a segunda ronda

In [80]:
dataPaises = {"continent": ['europe', 'southamerica', 'africa', 'northamerica', 'asia'], 'Probabilidad_ser_continente': [p_europa, p_suramerica, p_africa, p_norteamerica, p_asia]}
ProbSerDeUncontinente = pd.DataFrame(dataPaises)
ProbSerDeUncontinente

      continent  Probabilidad_ser_continente
0        europe                      0.40625
1  southamerica                      0.18750
2        africa                      0.15625
3  northamerica                      0.12500
4          asia                      0.12500

In [81]:
ProbSerDeUncontinente['Ser_Continente_y_Clasificar'] = ProbSerDeUncontinente['Probabilidad_ser_continente'] * p_SegundaRonda
print(f"Probabilidad de pasar a la segunda ronda = {p_SegundaRonda}")
ProbSerDeUncontinente[['continent', 'Ser_Continente_y_Clasificar']]

Probabilidad de pasar a la segunda ronda = 0.5

      continent  Ser_Continente_y_Clasificar
0        europe                     0.203125
1  southamerica                     0.093750
2        africa                     0.078125
3  northamerica                     0.062500
4          asia                     0.062500

m. pertenecer a África o clasificar a segunda ronda
n. pertenecer a Europa o clasificar a segunda ronda
o. pertenecer a Asia o clasificar a segunda ronda
p. pertenecer a Sudamérica o clasificar a segunda ronda
q. pertenecer a Norteamérica o clasificar a segunda ronda

In [82]:
ProbSerDeUncontinente['Ser_Continente_o_Clasificar'] = ProbSerDeUncontinente['Probabilidad_ser_continente'] + p_SegundaRonda - ProbSerDeUncontinente['Ser_Continente_y_Clasificar']
print(f"Probabilidad de pasar a la segunda ronda = {p_SegundaRonda}")
ProbSerDeUncontinente[['continent', 'Ser_Continente_y_Clasificar', 'Ser_Continente_o_Clasificar']]

Probabilidad de pasar a la segunda ronda = 0.5

      continent  Ser_Continente_y_Clasificar  Ser_Continente_o_Clasificar
0        europe                     0.203125                     0.703125
1  southamerica                     0.093750                     0.593750
2        africa                     0.078125                     0.578125
3  northamerica                     0.062500                     0.562500
4          asia                     0.062500                     0.562500

r. pertenecer a África y haber ganado al menos un partido
s. pertenecer a Europa y haber ganado al menos un partido
t. pertenecer a Asia y haber ganado al menos un partido
u. pertenecer a Sudamérica y haber ganado al menos un partido
v. pertenecer a Norteamérica y haber ganado al menos un partido

In [93]:
df_unidas = pd.merge(ProbSerDeUncontinente, df, on='continent', how='left')
df_unidas['Ser_Continente_y_Ganado'] = df_unidas["Probabilidad_ser_continente"] * df_unidas['Proba_Ganar']
df_unidas[['team', 'Ser_Continente_y_Ganado', 'continent', 'Probabilidad_ser_continente', 'Proba_Ganar']]

,team,Ser_Continente_y_Ganado,continent,Probabilidad_ser_continente,Proba_Ganar
0,Croatia,0.135417,europe,0.40625,0.333333
1,Netherlands,0.406250,europe,0.40625,1.000000
2,Spain,0.135417,europe,0.40625,0.333333
3,Greece,0.135417,europe,0.40625,0.333333
4,Italy,0.135417,europe,0.40625,0.333333
5,England,0.000000,europe,0.40625,0.000000
6,France,0.270833,europe,0.40625,0.666667
7,Switzerland,0.270833,europe,0.40625,0.666667
8,Bosnia and Herzegovina,0.135417,europe,0.40625,0.333333
9,Germany,0.270833,europe,0.40625,0.666667
10,Portugal,0.135417,europe,0.40625,0.333333
11,Belgium,0.406250,europe,0.40625,1.000000
12,Russia,0.000000,europe,0.40625,0.000000
13,Brazil,0.125000,southamerica,0.18750,0.666667
14,Chile,0.125000,southamerica,0.18750,0.666667
15,Colombia,0.187500,southamerica,0.18750,1.000000
16,Uruguay,0.125000,southamerica,0.18750,0.666667
17,Ecuador,0.062500,southamerica,0.18750,0.333333
18,Argentina,0.187500,southamerica,0.18750,1.000000
19,Cameroon,0.000000,africa,0.15625,0.000000
20,Ivory Coast,0.052083,africa,0.15625,0.333333
21,Nigeria,0.052083,africa,0.15625,0.333333
22,Ghana,0.000000,africa,0.15625,0.000000
23,Algeria,0.052083,africa,0.15625,0.333333
24,Mexico,0.083333,northamerica,0.12500,0.666667
25,Costa Rica,0.083333,northamerica,0.12500,0.666667
26,Honduras,0.000000,northamerica,0.12500,0.000000
27,United States,0.041667,northamerica,0.12500,0.333333
28,Australia,0.000000,asia,0.12500,0.000000
29,Japan,0.000000,asia,0.12500,0.000000
30,Iran,0.000000,asia,0.12500,0.000000
31,South Korea,0.000000,asia,0.12500,0.000000

w. haber ganado al menos un partido y clasificar a segunda ronda
Hint: define previamente condiciones para realizar los conteos

In [97]:
df_unidas['Ganar_1P_y_Clasificar'] = df_unidas["Proba_Ganar"] * p_SegundaRonda
df_unidas[['team', 'continent', 'Ser_Continente_y_Ganado', 'Ganar_1P_y_Clasificar']].head(36)

,team,continent,Ser_Continente_y_Ganado,Ganar_1P_y_Clasificar
0,Croatia,europe,0.135417,0.166667
1,Netherlands,europe,0.406250,0.500000
2,Spain,europe,0.135417,0.166667
3,Greece,europe,0.135417,0.166667
4,Italy,europe,0.135417,0.166667
5,England,europe,0.000000,0.000000
6,France,europe,0.270833,0.333333
7,Switzerland,europe,0.270833,0.333333
8,Bosnia and Herzegovina,europe,0.135417,0.166667
9,Germany,europe,0.270833,0.333333
10,Portugal,europe,0.135417,0.166667
11,Belgium,europe,0.406250,0.500000
12,Russia,europe,0.000000,0.000000
13,Brazil,southamerica,0.125000,0.333333
14,Chile,southamerica,0.125000,0.333333
15,Colombia,southamerica,0.187500,0.500000
16,Uruguay,southamerica,0.125000,0.333333
17,Ecuador,southamerica,0.062500,0.166667
18,Argentina,southamerica,0.187500,0.500000
19,Cameroon,africa,0.000000,0.000000
20,Ivory Coast,africa,0.052083,0.166667
21,Nigeria,africa,0.052083,0.166667
22,Ghana,africa,0.000000,0.000000
23,Algeria,africa,0.052083,0.166667
24,Mexico,northamerica,0.083333,0.333333
25,Costa Rica,northamerica,0.083333,0.333333
26,Honduras,northamerica,0.000000,0.000000
27,United States,northamerica,0.041667,0.166667
28,Australia,asia,0.000000,0.000000
29,Japan,asia,0.000000,0.000000
30,Iran,asia,0.000000,0.000000
31,South Korea,asia,0.000000,0.000000

2. A partir de las probabilidades anteriores, y sin realizar conteos, calcular las
siguientes probabilidades:

a. pertenecer a Europa, si se sabe que clasificó
b. pertenecer a Sudamérica, si se sabe que clasificó

In [ ]:
df_unidas["SerContinente_y_Clasifico"] = (df_unidas['Probabilidad_ser_continente'] * (p_SegundaRonda * df_unidas['Probabilidad_ser_continente']))/p_SegundaRonda
df_unidas[['Probabilidad_ser_continente', "SerContinente_y_Clasifico", "team", 'continent']]

Probabilidad de no pasar la Segunda Ronda 0.5

,Probabilidad_ser_continente,SerContinente_y_Clasifico,team,continent
0,0.40625,0.165039,Croatia,europe
1,0.40625,0.165039,Netherlands,europe
2,0.40625,0.165039,Spain,europe
3,0.40625,0.165039,Greece,europe
4,0.40625,0.165039,Italy,europe
5,0.40625,0.165039,England,europe
6,0.40625,0.165039,France,europe
7,0.40625,0.165039,Switzerland,europe
8,0.40625,0.165039,Bosnia and Herzegovina,europe
9,0.40625,0.165039,Germany,europe
10,0.40625,0.165039,Portugal,europe
11,0.40625,0.165039,Belgium,europe
12,0.40625,0.165039,Russia,europe
13,0.18750,0.035156,Brazil,southamerica
14,0.18750,0.035156,Chile,southamerica
15,0.18750,0.035156,Colombia,southamerica
16,0.18750,0.035156,Uruguay,southamerica
17,0.18750,0.035156,Ecuador,southamerica
18,0.18750,0.035156,Argentina,southamerica
19,0.15625,0.024414,Cameroon,africa
20,0.15625,0.024414,Ivory Coast,africa
21,0.15625,0.024414,Nigeria,africa
22,0.15625,0.024414,Ghana,africa
23,0.15625,0.024414,Algeria,africa
24,0.12500,0.015625,Mexico,northamerica
25,0.12500,0.015625,Costa Rica,northamerica
26,0.12500,0.015625,Honduras,northamerica
27,0.12500,0.015625,United States,northamerica
28,0.12500,0.015625,Australia,asia
29,0.12500,0.015625,Japan,asia
30,0.12500,0.015625,Iran,asia
31,0.12500,0.015625,South Korea,asia

c. pertenecer a África, si se sabe que ganó al menos un partido

In [108]:
df_unidas["SerContinente_y_gano1P"] = (df_unidas['Probabilidad_ser_continente'] * (df_unidas["Proba_Ganar"] * df_unidas['Probabilidad_ser_continente']))/df_unidas["Proba_Ganar"]
df_unidas[['Probabilidad_ser_continente', "SerContinente_y_gano1P", "team", 'continent']]

,Probabilidad_ser_continente,SerContinente_y_gano1P,team,continent
0,0.40625,0.165039,Croatia,europe
1,0.40625,0.165039,Netherlands,europe
2,0.40625,0.165039,Spain,europe
3,0.40625,0.165039,Greece,europe
4,0.40625,0.165039,Italy,europe
5,0.40625,NaN,England,europe
6,0.40625,0.165039,France,europe
7,0.40625,0.165039,Switzerland,europe
8,0.40625,0.165039,Bosnia and Herzegovina,europe
9,0.40625,0.165039,Germany,europe
10,0.40625,0.165039,Portugal,europe
11,0.40625,0.165039,Belgium,europe
12,0.40625,NaN,Russia,europe
13,0.18750,0.035156,Brazil,southamerica
14,0.18750,0.035156,Chile,southamerica
15,0.18750,0.035156,Colombia,southamerica
16,0.18750,0.035156,Uruguay,southamerica
17,0.18750,0.035156,Ecuador,southamerica
18,0.18750,0.035156,Argentina,southamerica
19,0.15625,NaN,Cameroon,africa
20,0.15625,0.024414,Ivory Coast,africa
21,0.15625,0.024414,Nigeria,africa
22,0.15625,NaN,Ghana,africa
23,0.15625,0.024414,Algeria,africa
24,0.12500,0.015625,Mexico,northamerica
25,0.12500,0.015625,Costa Rica,northamerica
26,0.12500,NaN,Honduras,northamerica
27,0.12500,0.015625,United States,northamerica
28,0.12500,NaN,Australia,asia
29,0.12500,NaN,Japan,asia
30,0.12500,NaN,Iran,asia
31,0.12500,NaN,South Korea,asia

d. haber ganado al menos un partido, si se sabe que clasificó

In [110]:
df_unidas["Ganar1P_y_Clasifico"] = (df_unidas["Proba_Ganar"] * (p_SegundaRonda * df_unidas["Proba_Ganar"]))/p_SegundaRonda
df_unidas[['Probabilidad_ser_continente', "Ganar1P_y_Clasifico", "team"]]

    Probabilidad_ser_continente  Ganar1P_y_Clasifico                    team
0                       0.40625             0.111111                 Croatia
1                       0.40625             1.000000             Netherlands
2                       0.40625             0.111111                   Spain
3                       0.40625             0.111111                  Greece
4                       0.40625             0.111111                   Italy
5                       0.40625             0.000000                 England
6                       0.40625             0.444444                  France
7                       0.40625             0.444444             Switzerland
8                       0.40625             0.111111  Bosnia and Herzegovina
9                       0.40625             0.444444                 Germany
10                      0.40625             0.111111                Portugal
11                      0.40625             1.000000                 Belgium
12                      0.40625             0.000000                  Russia
13                      0.18750             0.444444                  Brazil
14                      0.18750             0.444444                   Chile
15                      0.18750             1.000000                Colombia
16                      0.18750             0.444444                 Uruguay
17                      0.18750             0.111111                 Ecuador
18                      0.18750             1.000000               Argentina
19                      0.15625             0.000000                Cameroon
20                      0.15625             0.111111             Ivory Coast
21                      0.15625             0.111111                 Nigeria
22                      0.15625             0.000000                   Ghana
23                      0.15625             0.111111                 Algeria
24                      0.12500             0.444444                  Mexico
25                      0.12500             0.444444              Costa Rica
26                      0.12500             0.000000                Honduras
27                      0.12500             0.111111           United States
28                      0.12500             0.000000               Australia
29                      0.12500             0.000000                   Japan
30                      0.12500             0.000000                    Iran
31                      0.12500             0.000000             South Korea

e. haber ganado al menos un partido, si se sabe que pertenece a Norteamérica

In [118]:
df_unidas["Norteamerica_y_gano1P"] = (0.12500 * (df_unidas["Proba_Ganar"] * 0.12500))/df_unidas["Proba_Ganar"]
df_unidas[df_unidas["continent"] == "northamerica"][['Probabilidad_ser_continente', "Norteamerica_y_gano1P", "team", "continent"]]

,Probabilidad_ser_continente,Norteamerica_y_gano1P,team,continent
24,0.125,0.015625,Mexico,northamerica
25,0.125,0.015625,Costa Rica,northamerica
26,0.125,NaN,Honduras,northamerica
27,0.125,0.015625,United States,northamerica

f. NO haber clasificado, si se sabe que pertenece a África

In [116]:
df_unidas["No_clasifico_y_Africa"] = ((1-p_SegundaRonda) * (0.15625 * (1-p_SegundaRonda)))/0.15625
df_unidas[df_unidas["continent"] == "africa"][['Probabilidad_ser_continente', "No_clasifico_y_Africa", "team", "continent"]]

    Probabilidad_ser_continente  No_clasifico_y_Africa         team continent
19                      0.15625                   0.25     Cameroon    africa
20                      0.15625                   0.25  Ivory Coast    africa
21                      0.15625                   0.25      Nigeria    africa
22                      0.15625                   0.25        Ghana    africa
23                      0.15625                   0.25      Algeria    africa